
.Navbar{
    display: flex;
    flex-direction: row;
    margin:0;
    padding: 0;
    padding-top: 2em;
    align-items: center;
    position:relative;
    width: 100vw;
  }

  @keyframes moveDown {
    0%{transform: translateY(-20em); opacity: .2;}
    100%{ansform: translateY(0); opacity: 1;}
  }